/* 전체 페이지를 중앙 정렬하기 위한 스타일 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 입력란과 버튼을 담는 div의 스타일
div {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 입력란 스타일 */
input[type="text"], textarea {
  width: 500px; /* 가로 길이 조정 */
  padding: 10px;
  margin-bottom: 10px; /* 입력란 아래 여백 */
  border: 2px solid #ccc; /* 경계선 스타일 */
  border-radius: 5px; /* 모서리 둥글게 */
}

/* 버튼 스타일 */
button {
  padding: 12px 20px;
  background-color: #505050; /* 배경 색상 */
  color: white; /* 글자 색상 */
  border: none;
  border-radius: 5px; /* 모서리 둥글게 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  transition: background-color 0.3s ease; /* 색상 변경 애니메이션 */
}

button:hover {
  background-color: #0056b3; /* 버튼 호버 시 색상 변경 */
}
